<section id="settings">
  <div id="configParams"></div>
  <div class="bottom">
    <button id="saveSettings">Save</button>
  </div>
</section>
<section id="state">
  <h1></h1>
  <div id="numberOfGames">
    <div class="down"></div>
    <div class="value">2</div>
    <div class="up"></div>
  </div>
  <button id="startTournament">Start tournament</button>
  <button id="endGame">End game</button>
  <button id="endTournament">End tournament</button>
</section>
<section id="connectedPlayers">
  <h2 id="playerCount">0</h2>
  <h3>Players</h3>
  <div id="players">
    {{#each players}}
      {{> player this}}
    {{/each}}
  </div>
</section>
