<div id="registerLogotype" class="center">
  {{> logotype}}
</div>
<div id="registerForm" class="bottom">
  <input name="password" type="password" placeholder="Password" required/>
  <button class="positive" id="authenticate">Authenticate</button>
</div>
