{{#if player}}
  <div id="gameController" style="background:{{> color player.color}}">
    <div class="button" id="left"></div>
    <div class="button" id="right"></div>
    <div class="buttonDivider"></div>
  </div>
{{/if}}
