{{#if player}}
  <div id="positionInfo">
    <div id="domeContainer">
      <div id="dome">
        <div id="identifierWrapper">
          {{#each players}}
            {{> player this}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="button" id="startMoving"  style="background:{{> color player.color}}"></div>
    {{#if time}}
      <script>
        var button = document.getElementById('startMoving');
        if (button) {
          var time = Math.round({{time}});
          if (time > 0) {
            var infoWrapper = document.createElement('div');
            var info = document.createElement('div');
            info.classList.add('info');
            var timer = document.createElement('div');
            var t = document.createTextNode(time);
            timer.classList.add('timer');
            timer.appendChild(t);
            var round = document.createElement('div');
            var r = document.createTextNode('Round ' + {{round}} + '/' + {{rounds}});
            round.classList.add('round');
            round.appendChild(r);
            info.appendChild(round);
            info.appendChild(timer);
            infoWrapper.classList.add('infoWrapper');
            infoWrapper.appendChild(info);
            button.classList.add('disabled');
            button.appendChild(infoWrapper);
            var iv = setInterval(function() {
              if (--time <= 0) {
                clearInterval(iv);
              } else {
                t.nodeValue = time;
              }
            }, 1000);
          }
        }
      </script>
    {{/if}}
  </div>
{{/if}}
