<div id="registerLogotype" class="center">
  {{> logotype player}}
</div>
<div id="registerForm" class="bottom">
  <button class="negative" id="unregister">Cancel</button>
</div>
<!-- <h2>Waiting for game to start</h2> -->
