{{#if error}}
  <p class="warning">{{error}}</p>
{{else}} {{#if waiting}}
  <p class="info">
    Argh! There is no game running right now.
  </p>
{{else}}
  <div id="registerLogotype" class="center">
    {{> logotype}}
  </div>
  <div id="registerForm" class="bottom">
    <input name="name" type="text" placeholder="Name" required/>
    <button class="positive" id="play">Play</button>
  </div>
{{/if}}{{/if}}
