{{#if player}}
  <div class="gameController" style="background:{{> color player.color}}">
    <div class="button" id="left"></div>
    <div class="button" id="right"></div>
    <div class="buttonDivider"></div>
    {{#if position}}
      <div id="positionInfo">
        <div id="domeContainer">
          <div id="dome">
            <div class="identifier"></div>
          </div>
        </div>
        <div class="button" id="startMoving"></div>
      </div>
    {{/if}}
  </div>
{{/if}}
