{{#if error}}
  <p class="warning">{{error}}</p>
{{else}} {{#if waiting}}
  <p class="info">
    Argh! There is no game running right now.
  </p>
{{else}}
  <h1>AchDome</h1>
  <div class="bottom">
    <input name="name" type="text" placeholder="Name" required/>
    <button class="positive" id="play">Play</button>
  </div>
{{/if}}{{/if}}
