[submodule "src/external/libwebsockets"]
	path = src/external/libwebsockets
	url = git://git.libwebsockets.org/libwebsockets
[submodule "src/external/picojson/picojson"]
	path = src/external/picojson/picojson
	url = https://github.com/kazuho/picojson
[submodule "build/src/external/websocketpp"]
	path = build/src/external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
