@import "globals";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: @base;
  color: @highlight;
  font-family: @typeface;
  font-size: @font-size;
  overflow: hidden;
}

h1 {
  font-family: @header-typeface;
  color: white;
}

#registerLogotype {
  position: absolute;
  top: 0;
  bottom: 130px;
  left: 0;
  right: 0;
}

#logotype {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.center #logotype {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -126px 0 0 -100px;
}

h1#logotypeText {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 13px 0 0;
  span {
    letter-spacing: -0.1em;
  }
}

.center h1#logotypeText {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 74px 0 0 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

input, button {
  font-family: @typeface;
  font-size: @font-size;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  border: 0;
  border-top: 0.2em solid @base;
  box-sizing: border-box;
  background: white;
  border-radius: 0;
  outline: 0;
}

.warning {
  border-left: 0.4em solid @negative;
  border-right: 0.4em solid @negative;
}

button.positive {
  background: @positive;
  color: @positive-dark;
}

.player {
  overflow: hidden;

  .name {
    float: left;
    padding: 0.35em;
  }
}

.identifier {
  float: left;
  width: 2em;
  height: 2em;
  .radius(50%);
}

#positionInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #domeContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;

    #dome {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      border-radius: 50%;

      .identifier {
        float: none;
        position: absolute;
      }
    }
  }

  .button#startMoving {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background: @positive;
    overflow: hidden;
    cursor: pointer;
    .transition(all 0.2s);

    .timerWrapper {
      display: table;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);

      .timer {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-family: @header-typeface;
        font-size: 100px;
      }
    }
  }

  .button#startMoving.disabled {
    background: @disabled;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes rollImage {
    0%  {
          background-position: 50% 100%;
          .opacity(0)
        }
    50% {
          background-position: 50% 50%;
          .opacity(0.75)
        }
    100%{
          background-position: 50% 0%;
          .opacity(0)
        }
  }

  /* Standard syntax */
  @keyframes rollImage {
    0%  {
          background-position: 50% 100%;
          .opacity(0)
        }
    50% {
          background-position: 50% 50%;
          .opacity(0.75)
        }
    100%{
          background-position: 50% 0%;
          .opacity(0)
        }
  }

  .button#startMoving:not(.disabled):after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .opacity(0.5);
    background-image: url('../images/up.png');
    .loop(rollImage, 1.3s);
  }
}

#gameController {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .button {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
  }

  .button:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .opacity(0.5);
  }

  .button#left {
    width: 50%;
    left: 0;
  }

  .button#left:after {
    background-image: url('../images/left.png');
  }

  .button#right {
    width: 50%;
    right: 0;
  }

  .button#right:after {
    background-image: url('../images/right.png');
  }

  .button#left.active, .button#right.active {
    background: rgba(0,0,0,0.1);
  }
}

@import "portrait";
@import "landscape";
